#wrapper {
    width: 1310px;
    margin: 0 auto 0 auto;
}

#game {
    width: 100%;
}



/* Header Div */
header {
    height: 40px;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

#header_left {
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
}

#header_center {
    width: 59%;
    display: inline-block;
}

#header_right {
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
}

header #header_right button {
    float: right;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

header #header_left button {
    float: left;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.view_button {
    border-radius: 7px;
}

.button_selected {
    background-color: #B2B2B2;
}

#foul {
    width: 80px;
    height: 28px;
    font-size: 1em;
    font-weight: 600;
}





/* Game Buttons Wrapper */
#game_buttons_wrapper {
    width: 100%;
    margin-top: 10px;
}

#game_buttons_wrapper div {
    display: inline-block;
}

div.score_wrapper {
    width: 12%;
    vertical-align: bottom;
    padding: 0 0.2em 0 0.2em;
}

div.reset {
    width: 13%;
}

div#game_input_buttons {
    width: 46%;
    text-align: center;

}

.score_wrapper span {
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 0.4em;
}

#away_score_wrapper div {
    float: left;

}

#home_score_wrapper div {
    float: right;

}

.reset div {
    display: inline-block;
    margin: 0 0.2em 0 0.2em;
}

div#game_input_buttons button {
    font-size: 1.2em;
    margin: 0 0.2em 0 0.2em;
}



/* Game Body */
#game_body {
    margin-top: 18px;
}

#game_body div {
    display: inline-block;
}

.players_wrapper {
    width: 72px;
    padding-top: 25px;
    vertical-align: top;
    display: inline-block;
}

.player_wrapper {
    margin-top: 15px;
    width: 100%;
}

.player_number_wrapper {
    font-size: 20px;
    text-align: center;
    width: 100%;
}









#basketball_court {
    background-color: #FFB56C;
}

.perimeter {
	fill:rgb(255,255,255);stroke-width:8;stroke:black;
}

svg .boundary {
	stroke: black; stroke-width: 8;
}

svg .thin_line {
	stroke: black; stroke-width: 4;
}

svg .thick_line {
	stroke: black; stroke-width: 8;
}

svg .circle {
	fill: #FF9933; stroke: black; stroke-width: 4;
}

svg .key {
	fill: #FF9933; stroke: black; stroke-width: 4;
}

svg .white_line {
	stroke: #FF9933; stroke-width: 4;
}

div.team {
    margin: 0;
    padding: 0 0 1em 0;
    display: inline-block;
    width: 38%;
    text-align: center;
}

div.score_container {
    margin: 0;
    padding: 0 0 1em 0;
    display: inline-block;
    width: 22%;
    height: 45px;
    text-align: center;
    vertical-align: bottom;
}

div.score {
    margin: 0;
    padding: 0 0 0 0;
    display: inline-block;
}

div.player {
    display: inline-block;
    font-size: 1.2em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 4px;
    margin-left: 1em;
    width: 1.8em;
    cursor:move;
}

div.player.selected {
    border-color: #FF3333;
    border-width: 4px;
}

.score {
    display: inline-block;
    margin: 0;
    padding: 0;
}

p.score_digits {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    float: left;
    vertical-align: -7;
}

div.score p.score_team {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    float: left;
    padding-top: 1em;

}



.roster {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 98%;
}
.roster li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.0em;
    height: 18px;
}

.roster li:first-child {
    border-top: 3px solid #FFCCCC;
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(2) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(3) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(4) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(5) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    border-bottom: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
    margin-bottom: 18px;
}
.roster li:last-child {
    margin-bottom: 1.8em;
} 
.starters_header {
    text-align: center;
    margin: 0;
    padding: 0;
}







/* Roster Input Form */
#rosters_container {
    width: 800px;
    padding: 0;
    margin: 0 auto 0 auto;
}

.team_roster {
    display:inline-block;
    width: 390px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.team_roster_header {
    text-align: center;
}

.team_name {
    margin-bottom: 1em;
}

.save_players_form {
    margin-top: 1em;
}

.team_roster .players {
    padding: 0 0 1em 1em;
    
}

.player_number {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
}

.player_name {
    display: inline-block;
    font-size: 1.3em;
    margin: 0;
}