#wrapper {
    width: 1310px;
    margin: 0 auto 0 auto;
}

#game {
    width: 100%;
}



/* Header Div */
header {
    height: 40px;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

#header_left {
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
}

#header_center {
    width: 59%;
    display: inline-block;
}

#header_right {
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
}

header #header_right button {
    float: right;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

header #header_left button {
    float: left;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

header button:hover {
    cursor: pointer;
}

.view_button {
    border-radius: 7px;
}

.button_selected {
    background-color: #B2B2B2;
}

#foul {
    width: 80px;
    height: 28px;
    font-size: 1em;
    font-weight: 600;
}

#free_throw {
    width: 106px;
    height: 28px;
    font-size: 1em;
    font-weight: 600;
}






/* Game Buttons Wrapper */
#game_buttons_wrapper {
    width: 100%;
    margin-top: 10px;
}

#game_buttons_wrapper div {
    display: inline-block;
}

div.score_wrapper {
    width: 12%;
    vertical-align: bottom;
    padding: 0 0.2em 0 0.2em;
}

.reset {
    width: 7%;
}

#game_input_buttons {
    width: 58%;
    text-align: center;

}

.score_wrapper span {
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 0.4em;
}

#left_score_wrapper div {
    float: left;
}

#right_score_wrapper div {
    float: right;
}

.recent_score {
    font-size: 1.0em;
    font-weight: bold;
    color: green;
}

.recent_score p {
    margin: 0;
}

.reset div {
    display: inline-block;
    margin: 0 0.2em 0 0.2em;
}

#game_input_buttons button {
    font-size: 1.2em;
    margin: 0 0.2em 0 0.2em;
}

.hidden {
    opacity: 0.3;
}

.partially_hidden {
    opacity: 0.55;
}






/* Game Body */
#game_body {
    margin-top: 18px;
}

#game_body div {
    display: inline-block;
}

.players_wrapper {
    width: 72px;
    padding-top: 10px;
    vertical-align: top;
    display: inline-block;
}

.player_wrapper {
    width: 68px;
    margin: 15px auto 0 auto;

}

.player_number_wrapper {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.player_border_container:hover {
    cursor: pointer;
}

.player_border_container.selected {
    border-style: solid;
    border-color: #FF3333;
    border-width: 3px;
}

.player_border_container.hidden {
    opacity: 0.3;
}







/* SVG Basketball Court */

#basketball_court {
    background-color: #FFB56C;
}

.perimeter {
	fill:rgb(255,255,255);stroke-width:8;stroke:black;
}

svg .boundary {
	stroke: black; stroke-width: 8;
}

svg .thin_line {
	stroke: black; stroke-width: 4;
}

svg .thick_line {
	stroke: black; stroke-width: 8;
}

svg .circle {
	fill: #FF9933; stroke: black; stroke-width: 4;
}

svg .key {
	fill: #FF9933; stroke: black; stroke-width: 4;
}

svg .white_line {
	stroke: #FF9933; stroke-width: 4;
}







/* Dragging Roster Players */

.roster {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 98%;
}
.roster li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.0em;
    height: 18px;
}

.roster li:first-child {
    border-top: 3px solid #FFCCCC;
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(2) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(3) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(4) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
}
.roster li:nth-child(5) {
    border-left: 3px solid #FFCCCC;
    border-right: 3px solid #FFCCCC;
    border-bottom: 3px solid #FFCCCC;
    background-color: #FFCCCC;
    font-size: 1.2em;
    margin-bottom: 18px;
}
.roster li:last-child {
    margin-bottom: 0.2em;
} 
.starters_header {
    text-align: center;
    margin: 0;
    padding: 0;
}





/* Above Roster Form */
#quarter_minutes {
    text-align: center;
    margin-top: 1em;
}

#quarter_minutes div {
    display: inline-block;
}

#quarter_minutes span {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 5px;
}

#quarter_minutes #spacer {
    padding: 0 10px 0 10px;
}

#quarter_minutes button {
    margin: 0;
}

#quarter_minutes button:hover {
    cursor: pointer;
}

#direction_container {
    text-align: center;
    margin-top: 0.4em;
}

#direction_container div {
    display: inline-block;
}

#direction_container span {
    font-size: 1em;
    font-weight: bold;
}

#direction_container button {
    margin: 0;
}

#direction_container button:hover {
    cursor: pointer;
}

#settings {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

#settings_header {
    margin-top: .3em;
    margin-bottom: .3em;
}

#settings_header:hover {
    cursor: pointer;
}

#settings_container {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

#periods_container button:hover {
    cursor: pointer;
}






/* Roster Input Form */
#rosters_container {
    width: 800px;
    padding: 0;
    margin: 0 auto 0 auto;
}

.team_roster {
    display:inline-block;
    width: 390px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.team_roster li:hover {
    cursor: move;
}

.team_roster_header {
    text-align: center;
}

.team_abbreviation {
    margin-bottom: 1em;
}

.save_players_form {
    margin-top: 1em;
}

.team_roster .players {
    padding: 0 0 1em 1em;
    
}

.player_number {
    display: inline-block;
    font-size: 1.1em;
    margin: 0;
}

.player_name {
    display: inline-block;
    font-size: 1.1em;
    margin: 0;
}

.save_players_form {
    display: block;
    background-color: green;
    width: 50%;
    text-align: center;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    margin: 0.8em auto 0 auto;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

.save_players_form:hover {
    background-color: lightGreen;
    color: black;
}

.local_storage_team_container {
    display: block;
    width: 80%;
    margin: 0.5em auto 0.5em auto;
}

a.local_storage_team {
    display: inline-block;
    background-color: green;
    width: 80%;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 1em;
    padding: 0.1em 0 0.1em 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

a.local_storage_team:hover {
    background-color: lightGreen;
    color: black;
}

a.local_storage_delete {
    display: inline-block;
    text-decoration: underline;
    font-size: 0.9em;
    color: blue;
    margin-left: 0.6em;
}

a.local_storage_delete:hover {
    font-weight: bold;
}

.float_away_roster_right {
    float: right;
}





/* Start Button */
#start_resume_button_container a {
    display: block;
    background-color: green;
    width: 50%;
    text-align: center;
    font-size: 1.9em;
    color: white;
    text-decoration: none;
    margin: 0.4em auto 0 auto;
    border-radius: 12px;
    -moz-border-radius: 15px;
}

#start_resume_button_container a:hover {
    background-color: lightGreen;
    color: black;
}








