#basketball_court {
    background-color: #FFB56C;
}

.perimeter {
	fill:rgb(255,255,255);stroke-width:8;stroke:black;
}

svg .boundary {
	stroke: black; stroke-width: 8;
}

svg .thin_line {
	stroke: black; stroke-width: 4;
}

svg .thick_line {
	stroke: black; stroke-width: 8;
}

svg .circle {
	fill: #FF9933; stroke: black; stroke-width: 4;
}

svg .key {
	fill: #FF9933; stroke: black; stroke-width: 4;
}

svg .white_line {
	stroke: #FF9933; stroke-width: 4;
}

div.team {
    margin: 0;
    padding: 0 0 1em 0;
    display: inline-block;
    width: 38%;
    text-align: center;
}

div.score_container {
    margin: 0;
    padding: 0 0 1em 0;
    display: inline-block;
    width: 22%;
    height: 45px;
    text-align: center;
    vertical-align: bottom;
}

div.score {
    margin: 0;
    padding: 0 0 0 0;
    display: inline-block;
}

div.player {
    display: inline-block;
    font-size: 1.2em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 4px;
    margin-left: 1em;
    width: 1.8em;
    cursor:move;
}

div.player.selected {
    border-color: blue;
    border-width: 4px;
}

.score {
    display: inline-block;
    margin: 0;
    padding: 0;
}

p.score_digits {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    float: left;
    vertical-align: -7;
}

div.score p.score_team {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    float: left;
    padding-top: 1em;

}






